PORT=3001
CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
# If using application permissions, specify the target user ID whose drive we want to access
# Get this from Azure Portal -> Users -> User -> Object ID
TARGET_USER_ID=
